body {
  background-color: #fafafa;
}

li {
  cursor: pointer;
}

.container {
  margin-top: 1rem;
}

.card {
  margin-top: 1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.album-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.5rem;
}

.pill {
  margin-right: 0.25rem;
  padding: 0.1rem 0.25rem;
  border-radius: 0.15rem;
  background-color: gainsboro;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.form-control {
  position: relative;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 100px;
}

.pointer {
  cursor: pointer;
}