body {
  background-color: #fafafa;
}

li {
  cursor: pointer;
}

.form-control {
  position: relative;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 80px;
}

.dropdown-item.active {
  background-color: #5c636a;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pointer {
  cursor: pointer;
}

.album-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pill {
  padding: 0.1rem 0.25rem;
  border-radius: 0.15rem;
  background-color: gainsboro;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer{
  height: 86px;
}
